@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    TA Shop
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0123456789
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:abc@gmail.com">cskh@test.com</a><br />
</address>